.Alex-selected {
  svg g {
    fill: rgb(254, 3, 89);
  }

  span {
    font-weight: bold;
    color: #1f2933 !important;
  }
}

.MuiListItem-root svg g {
  transition: fill 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.MuiListItem-root:not(.Alex-selected):hover {
  svg g {
    fill: rgb(254, 3, 89);
  }
}

a.MuiListItem-button:not(:last-child) {
  margin-bottom: 8px;
}
