.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#select-sort {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.1px;
  color: #1f2933;
}

label[for="sort"] + div:before,
label[for="sort"] + div:after {
  border: none !important;
}

label[for="sort"] + .MuiInput-formControl {
  margin: 0;

  .MuiSelect-icon {
    color: #1f2933;
  }
}

#alex-chips, #alex-chips-ads {
  .MuiChip-root:not(.MuiChip-colorPrimary) {
    background-color: #d1e2f5;

    .MuiChip-label {
      padding-right: 8px;
    }
  }

  .MuiChip-deleteIcon {
    margin-right: 8px;
  }
}
