body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.auth0-lock-widget {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0, rgba(0, 0, 0, 0.14) 0 3px 4px 0, rgba(0, 0, 0, 0.12) 0 3px 3px -2px;

  .auth0-lock-cred-pane-internal-wrapper {
    height: auto !important;
  }
}

.MuiBox-root {
  outline: transparent none 0;
}
